.containerNewSem {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1300;
}

.contentNewSem {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 400px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
    transition: color 0.3s;
}

.input {
    padding-right: 20px;
}

.modal-close:hover {
    color: white;
    background-color: #89343b;
}

h2 {
    margin-top: 0;
    color: #89343b;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #89343b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ffd000;
}