.container {
    padding: 20px;
}

.sheet {
    padding: 20px;
    border-radius: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-text {
    margin: 20px 0;
}

.hello-world-container {
    margin: 20px 0;
}

.table-container {
    display: flex;
    gap: 30px;
    width: 100vh;
}

.table {
    width: 300px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.transaction-table,
.staff-table {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.table-title {
    background-color: #f8f8f8;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

tr:hover {
    background-color: #f1f1f1;
}

.error-message {
    color: red;
    text-align: center;
}

.add-staff-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1400;
}

.add-staff-modal {
    background: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    width: 450px;
    max-width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.add-staff-modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
    color: #89343b;
    transition: color 0.3s;
}

.add-staff-modal h2 {
    margin-top: 0;
    color: #89343b;
    font-size: 24px;
    text-align: center;
}

.add-staff-modal form div {
    margin-bottom: 20px;
}

.add-staff-modal label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.add-staff-modal input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
}

.add-staff-modal input:focus {
    border-color: #28a745;
    outline: none;
}

.add-staff-modal button[type="submit"] {
    background-color: #89343b;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}



.add-staff-modal-close:hover {
    color: #dc3545;
}