.session-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.session-content {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    min-width: 30%;
    /* Adjust as needed */
    position: relative;
    max-height: 80vh;
    overflow: hidden;
    box-sizing: border-box;
    /* Ensure padding is included in width */
}

/* Position close button correctly */
.session_modal-close {
    background: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1010;
    /* Ensure it’s on top of the modal content */
}

.modal-body {
    max-height: 400px;
    overflow: auto;
    /* Set maximum height for the table container */
    /* Enable vertical scrolling */
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    background-color: #f5f5f5;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table th,
.table td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.session-history-body tr:nth-child(even) {
    background-color: #f9f9f9;
}