/* .body {
    padding: 20px;
}

.container1 {
    margin-bottom: 20px;
}

.containter1-child1 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.containter1-child2 {
    padding-top: 10px;
} */

.container1 {
    display: flex;
    padding: 0 10px 0 10px;
}

.body {
    padding: 0 50px 0 50px;
}

.headerMenu {
    padding: 0 50px 0 50px;
}