.containerImport {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1300;
}

.contentImport {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 400px;
}

.closeImport {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.closeImport:hover {
    background-color: #89343b;
    color: white;
}

.file-input {
    margin: 20px 0;
    /* Space around file input */
    padding-right: 20px;
}

.file-input input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    /* Full width */
}

#file-name {
    margin: 10px 0;
    /* Space below file name display */
    font-size: 14px;
    /* Adjust font size */
    color: #555;
    /* Grey color for file name */
}

.button-group {
    display: flex;
    justify-content: space-between;
    /* Space between buttons */
}

.import-btn {
    background-color: #89343b;
    /* Button color */
    color: white;
    padding: 10px 15px;
    /* Padding for buttons */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.import-btn:hover {
    background-color: #ffd000;
    /* Hover effect for import button */
    color: #89343b;
    /* Change text color on hover */
}

h2 {
    margin-top: 0;
}