body {
  background: url('images/background.jpg') no-repeat center center fixed;
}

.staff-container-header {
  background-color: transparent;
  display: flex;
  align-items: center;
  /* Align items vertically centered */
  justify-content: space-between;
  /* Align content to the left */
  padding: 20px 0px;
  border-radius: 5px;
  /* Add some padding for better spacing */
}

/* Body Styles */
.staff-container-body {
  padding: 0 50px;
  /* Set padding on the sides */
  background-color: transparent;
}

/* Content Styles */
.staff-container-content {
  display: flex;
  /* Display children in a row */
  justify-content: space-between;
  /* Space between tables */
}

/* Staff Table Styles */
.staff-table {
  background-color: transparent;
  flex: 1;
  /* Make the staff table flexible */
  margin-right: 20px;
  /* Space between staff and logs */
  /* Optionally, add max-width to limit table size */
  max-width: 50%;
  padding: 0 50px;
  /* Adjust as needed */
}

.logs-table {
  background-color: transparent;
  width: 40%;
  margin-top: 30px;
  padding: 0 50px;
}

th,
td {
  border: 1px solid #ccc;
  /* Add borders to cells */
  padding: 10px;
  /* Add padding inside cells */
  text-align: left;
  /* Align text to the left */

}

table {
  background-color: white;
}

.staff-table th {
  background: linear-gradient(181.2deg, rgba(137, 52, 59, 1) 24.8%, rgba(198, 194, 149, 1) 80.5%);
  color: rgb(0, 0, 0);
  font-size: 17px;
  border-top: 1px solid #89343b;
  height: 15px;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
}